.register-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-box {
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 3px black;
    background: white;
    border-radius: 5%;
}
.register-user{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color: #0E4689;

}
.div{
    width: 100%;
    display: flex;
    justify-content: center;
}
.register-label {
    font-size: 30px;
}
.make-admin{
    font-size: 20px;
}
.register-buttons-box {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.register-buttons {
    border: 1px solid #6AADCA;
    width: 30%;
    height: 125%;
    color: #6AADCA;;
    font-size: 20px;
    border-radius: 15px;
}
.register-buttons:hover{
    background: #6AADCA;
    color: white;
    cursor: pointer;
}
.box-input{
    border: 1px solid black;
    background: white;
    width: 15px;
    height: 15px;
}
.admin-check{
    width: 35%;
    display: flex;
    justify-content: flex-start;
}
