.fav-teams {
    width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@media(max-width: 700px){
    .fav-teams{
        width: 100vw;
    }
}