.profile-users {
    width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 18vw;
}
.profile-box {
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid black;
    background: white;
    border-radius: 20px;
}
.input-boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid black;
    width: 250px;
    height: 30px;
    border-radius: 20px;
}
.labels {
    margin-right: 5px;
    color: #0E4689;
}
.profile-buttons-box{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.buttons {
    width: 150px;
    height: 35px;
    color: #3D7AAA;
    border: 1px solid #3D7AAA;
    font-size: 25px;
    border-radius: 15px;
    margin-top:25px;
}
.buttons:hover {
    color: white;
    background: #3D7AAA;
    cursor: pointer;
}

@media(max-width:700px){
    .profile-users{
        left: 10vw;
    }
    .profile-buttons-box{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}