@import url('https://fonts.googleapis.com/css?family=Overpass|Permanent+Marker&display=swap');
.nav-bar {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    position: fixed;
    left: 0px;
}
.navbar-icon{
    display: none;
    position: fixed;
    left: 0px;
    width: 15%;
    height: 50px;
    background: #0E4689;
}
.top-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top; 
    background: #0E4689;
    box-shadow: 7px 0px 10px;
}
.logo{
    margin-top: 25px;
    margin-bottom: 25px;
}
.lockerroom{
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
    color: lightskyblue;
}
.chat{
    font-family: 'Overpass', sans-serif;
    font-size: 25px;
    color: white;
}
.icon-border {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid white;
    border-radius: 50%;
    background: none;
    margin-bottom: 25px;
}
.user-icon {
    width: 45px;
    height: 45px;
    color: white;
}
.home-icon {
    width: 60px;
    height: 60px;
    color: white;
    margin-bottom: 25px;
}
.teams-button {
    border: none;
    background: none;
    color: White;
    font-size: 40px;
    cursor: pointer;
}
.menu{
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: top; 
    background: #0E4689;
    position: relative;
    margin-top: 50px;
    left: -250px;
}

.slide{
    left: 0px;
}

@media(max-width: 1200px){
    .logo{
        display: flex;
        flex-direction: column;
    }
}

@media(max-width: 800px){
    .lockerroom{
        font-size: 15px;
    }
    .chat{
        font-size: 15px;
    }
}

@media(max-width: 700px){
    .navbar-icon{
        display: flex;
    }
    .top-nav{
        display: none;
    }
    .menu{
        display: flex;
    }
}