.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-box {
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: solid 3px black;
    background: white;
    border-radius: 5%;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#lockerroom{
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    padding: 0px 0 3px 0;
}
#chat{
    font-family: 'Overpass', sans-serif;
    font-size: 50px;
    color: #EB1B24;
}
.auth-input-box{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;

}
.inputs {
    margin-left: 10px;
    width: 45%;
    height: 100%;
    position: relative;
    bottom: 3px;
    font-size: 20px;
    padding: 0 15px 0 10px;
    border: none;
    border: solid 1px #ccc;
    border-radius: 5px;
    color: black;
}
.buttons-box {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    position: relative;
    top: 34px;
}
#auth-buttons {
    border: 1px solid #6AADCA;;
    width: 30%;
    height: 55%;
    color: #6AADCA;
    font-size: 20px;
    border-radius: 15px;
    margin-top: 50px;
}
#auth-buttons:hover{
    background: #6AADCA;
    color: white;
    cursor: pointer;
}
@media(max-width:550px){
    .buttons-box{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    #auth-buttons{
        width: 55%;
    }
}

@media(max-width:800px){
    .logo{
        flex-direction: column;
    }
    #lockerroom{
        font-size: 40px;
    }
    #chat{
        font-size: 40px;
    }
    .chat-container{
        width: 60%;
        display: flex;
        justify-content: flex-end;
    }
}
